nav {
    height: auto;
    width: 100%;
    padding: 3vh 0;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10%;
    padding-left: 10%;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.navbar_text {
    color: white;
}

nav a {
    padding: 2px 10px 3px;
    color: grey;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
}

nav a:hover,
nav a.active {
    color: black;
    background-color: #88D8FB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.icon {
    margin-left: 5px;
}

.nav-dropdown {
    position: relative;
    top: 0px;
    transition: transform 0.3s ease-in-out;
}

.nav-dropdown p {
    color: grey;
    padding-left: 2vh;
    font-weight: 600;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 35vh;
    z-index: 1;
    margin-top: 7%;
    /* border-radius: 16px;  */
    box-shadow: 
      6px 6px 12px rgba(0, 0, 0, 0.1),
      -6px -6px 12px rgba(255, 255, 255, 0.8); 
}



.dropdown-content a {
    display: flex;
    color: black;
    font-weight: 400;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.important {
    margin-top: 5%;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(5px);
}

.nav-dropdown:hover .dropdown-content a:hover {
    background-color: #c1c1e0;
}
